.roundsInput {
  width: 200px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 20px;
}

.mainTitle {
  display: flex;
  justify-content: space-around;
}

.gameDescription,
controllers {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}

.controllers {
  width: 50%;
}

#count-down {
  content: " ";
}

html,
#canvas,
#game-board,
.startScreen {
  background-color: #3fba56;
  margin: auto;
}

.mainTitle,
h3 {
  color: #5b5151;
}

.h4 {
  margin-bottom: 0;
  line-height: 0.5;
}

.controls {
  text-align: center;
}
