.roundsInput {
  width: 200px;
  margin-top: 8px;
}

.mainTitle {
  display: flex;
  justify-content: space-around;
}

.gameDescription,
controllers {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}

.controllers {
  padding: 0 10%;
}

#count-down {
  content: " ";
}

html,
#canvas,
#game-board,
.startScreen {
  background-color: #daffe1;
  margin: auto;
}

.mainTitle,
h3 {
  color: #5b5151;
}

.h4 {
  margin-bottom: 0;
  line-height: 0.5;
}

.controls {
  text-align: center;
}

#game-board {
  display: flex;
  justify-content: center;
}

.controlsAndConfig {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.navbar-default {
  margin-bottom: 0;
  padding: 6px 0;
}

.navTitle {
  font-size: 2.5rem;
  color: black;
}

video {
  margin-top: -35px;
}

.navbar-left .topNavLi {
  padding: 0 50px;
}

.goodies .thumbnail > img {
  max-width: 60px;
}

.gameDescription .goodies h3 {
  text-align: center;
}
